@import "tailwindcss";

.react-flow__node {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.react-flow__node.selected {
  outline: none !important;
  box-shadow: none !important;
}
